 body{
    margin: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
}
.img{
    width: 150px;
}
.CARD{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin: 0 auto;
    text-align: center;
    color: #2b2839;
    background: #ddebf8;
    border-bottom:6px solid #d8cefe;
}
  